<article>
  <header>
    <h1><%= link_to post.title, post, class: 'text-body text-decoration-none' %></h1>
    <div>Author: <%= post.author.name %></dive>
  </header>
  <div><%= post.content %></div>
</article>

<%# post actions %>
<%= link_to 'Like', post, method: :put %>
<% if current_user == post.author %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
