<article class="card shadow-sm mb-3">
  <div class="card-body">
    <h1 class="card-title">
      <%= link_to post.title, post, class: 'text-body text-decoration-none' %>
    </h1>
    <div class="card-subtitle">
      <%= link_to post.author.name, post.author, class: 'text-body-secondary text-decoration-none' %>
    </div>
    <div class="card-text"><%= post.content %></div>
  </div>
  <footer class="card-footer border-bottom">
    <span class="btn">
      (<%= post.likers.count %>) likes
    </span>

    <% if post.likers.include?(current_user) %>
      <%= button_to 'Dislike', dislike_url(post.id), method: :put, class: 'btn btn-link', form_class: 'd-inline' %>
    <% else %>
      <%= button_to 'Like', like_url(post.id), method: :put, class: 'btn btn-link', form_class: 'd-inline' %>
    <% end %>
    <% if current_user == post.author %>
      <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-link' %>
      <%= button_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-link', form_class: 'd-inline' %>
    <% end %>
  </footer>
  <div class="card-body">
    <h5>Comments</h5>
    <div class="row">
      <% post.comments.each do |comment| %>
        <div class="col-md-8">
          <div class="d-flex flex-row p-3">
            <img src="<%= comment.user.gravatar_image %>" width="40" height="40" class="rounded-circle me-3" />
            <div class="w-100">
              <div class="d-flex justify-content-between align-items-center">
                <span class="mr-2"><%= link_to comment.user.name, comment.user, class: 'text-body text-decoration-none fw-bold' %></span>
                <small title="<%= comment.created_at %>"><%= time_ago_in_words(comment.created_at) %></small>
              </div>
              <p class="text-justify">
                <%= comment.content %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
      <div class="col-md-8">
        <%= form_with url: post_comments_url(post) do |form| %>
          <div class="row">
            <div class="col-md-8 offset-md-1">
              <%= form.text_area :content, class: 'form-control', placeholder: 'Type your comment here' %>
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-outline-primary">Add</button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</article>
